@*
### ### ### ### ### ### ###
SourceItFresh - Copyright (C) 2020
This SiF file is licensed under v3 of the GNU Affero General Public License.
### ### ###
GNU AGPLv3 lets people do almost anything they want with the project, except distributing closed-source versions.

Permissions of this strongest copyleft license are conditioned on:
Making available the complete source code of works and modifications,
 which include larger works using a licensed work, under the same license.
Copyright and license notices must be preserved.
Contributors provide an express grant of patent rights.
When a modified version is used to provide a service over a network,
 the complete source code of the modified version must be made available.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY,
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
### ### ###
See LICENSE.txt for more details or visit <https://www.gnu.org/licenses/>
### ### ### ### ### ### ###
*@
@attribute [AllowAnonymous]
@namespace SourceItFresh.Components.Shared

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudGrid Spacing="2" Justify="Justify.SpaceBetween">
                <MudItem xs="10">
                    <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="40%" />
                    <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="70%" />
                </MudItem>
                <MudItem xs="2">
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Pulse" Height="40px" Width="40px" />
                </MudItem>
            </MudGrid>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="250px" />
    </MudCardContent>
    <MudCardActions>
        <MudSkeleton Class="mud-info" SkeletonType="SkeletonType.Rectangle" Animation="Animation.Pulse" Height="30%" Width="40px" />
    </MudCardActions>
</MudCard>

@*
    <div class="card" aria-hidden="true">
    <div class="card-body">
    <h5 class="card-title placeholder-glow">
    <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
    <span class="placeholder col-7"></span>
    <span class="placeholder col-4"></span>
    <span class="placeholder col-4"></span>
    <span class="placeholder col-6"></span>
    <span class="placeholder col-8"></span>
    </p>
    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
    </div>
    </div>
*@