################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/

/.vs
/.vscode
/.env
/.git

*.user
*.dbmdl
*.jfm
*.cache

*.vs
/SiF_Main_Solution/.vs

/SiF_Main_Solution/Classic/Libs/SiF_PagesAndViews_RCL/.vs